.heroImage {
  padding-bottom: 30%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
}

.section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.column {
  width: 48%;
}

@media screen and (max-width: 768px) {
  .heroImage {
    padding-bottom: 300px;
    background-size: auto 100%;
  }

  .section {
    flex-direction: column;
  }

  .column {
    width: 100%;
  }

  .section:nth-child(2n) {
    flex-direction: column-reverse;
  }
}
